In [1]:
# %load_ext autoreload
# %autoreload 2
import models, utils
import orca
import dask.dataframe as dd
from __future__ import division
import csv
import numpy as np
import pandas as pd
import logging
import greenroof

In [ ]:
import numpy as np
from pandas import HDFStore,DataFrame
import h5py
filename = 'C:\GreenRoof\harrisonfreundgreenroofrepository\sanfran_urbansim-master\data\sanfran_public.h5'
with h5py.File(filename, 'r') as hdf:
    ls = list(hdf.keys())
    print('Datasets: \n', ls)
    data = hdf.get('buildings')
    dataset1 = np.array(data)

In [ ]:
#!/usr/bin/env python
'''Reads NeXus HDF5 files using h5py and prints the contents'''

import h5py    # HDF5 support

fileName = 'C:\GreenRoof\harrisonfreundgreenroofrepository\sanfran_urbansim-master\data\sanfran_public.h5'
f = h5py.File(fileName,  "r")
print(f)
f
#for item in f.attrs.keys():
#    print(item + ":", f.attrs[item])
#mr = f['/entry/mr_scan/mr']
#i00 = f['/entry/mr_scan/I00']
#print("%s\t%s\t%s" % ("#", "mr", "I00"))
#for i in range(len(mr)):
 #   print("%d\t%g\t%d" % (i, mr[i], i00[i]))
#f.close()

In [81]:
buildings = orca.get_table('buildings')
buildings.to_frame()
print(orca.list_columns())
mybuild = orca.orca.DataFrameWrapper.get_column(buildings, 'unit_sqft')
mybuild.to_frame()
mybuild.sort_index(inplace=True)
mybuild.to_frame()
height = orca.orca.DataFrameWrapper.get_column(buildings, 'stories')
height.sort_index(inplace=True)
height.to_frame()
dataset = pd.concat([height, mybuild], axis=1)
#height of building approx = 11.5 feet * stories

[('zones', 'population'), ('parcels', 'ave_unit_size'), ('parcels', 'total_units'), ('zones_prices', 'industrial'), ('parcels', 'parcel_size'), ('zones_prices', 'office'), ('households', 'zone_id'), ('zones', 'renters'), ('zones', 'sfdu'), ('buildings', 'sqft_per_job'), ('zones', 'sum_residential_units'), ('buildings', 'vacant_job_spaces'), ('zones', 'ave_income'), ('households', 'income_quartile'), ('zones_prices', 'residential'), ('buildings', 'unit_lot_size'), ('zones', 'zone_id'), ('zones', 'sum_job_spaces'), ('parcels', 'land_cost'), ('zones', 'hhsize'), ('zones', 'ave_lot_sqft'), ('buildings', 'job_spaces'), ('buildings', 'vacant_residential_units'), ('parcels', 'total_sqft'), ('zones_prices', 'retail'), ('zones', 'poor'), ('parcels', 'max_height'), ('zones_prices', 'zone_id'), ('buildings', 'unit_sqft'), ('parcels', 'total_job_spaces'), ('zones', 'jobs'), ('jobs', 'zone_id'), ('buildings', 'general_type'), ('parcels', 'max_far'), ('buildings', 'zone_id'), ('zones', 'ave_unit_sqft')]

In [3]:
buildings = orca.get_table('jobs')
buildings.to_frame()

Filling column job_category with value service (331 values)
Filling column residential_units with value 0 (0 values)
Filling column non_residential_rent with value 0 (142400 values)
Filling column year_built with value 1927.0 (3116 values)
Filling column non_residential_sqft with value 0 (1341 values)
Filling column residential_sales_price with value 0 (14196 values)
Filling column building_type_id with value 2.0 (0 values)

         building_id job_category  zone_id
3389004      1845867      service    107.0
3813527      1854491      service     14.0
3530098      1849820      service     65.0
3417867      1854265      service      4.0
3585435      1854265      service      4.0
3816089      1854591      service     12.0
3380206      1854058      service      2.0
3458689      1853110      service     32.0
3991324       131004      service     11.0
3619366      1852886      service     47.0
3945001      1851968      service     11.0
3866960      1853747      service      1.0
3406114      1854613      service     12.0
3784255      1854794   industrial     41.0
3441330      1844086      service    169.0
3625338       138434      service      2.0
3798511      1845865       retail    107.0
3749123      1853747      service      1.0
3394468       101557      service    123.0
3996885      1848563   industrial    137.0
3376237      1853748      service      1.0
3686212      1854318      service      4.0
3879109      1846631   industrial    116.0
3902750      1854525      service      5.0
3821096       138353      service     27.0
3822577      1854106      service      2.0
3798493       130876       retail     19.0
3683931      1854210      service     24.0
3399740       122300      service     63.0
3707915       128075      service      9.0
...              ...          ...      ...
3491757        43281   industrial    132.0
3685451      1854309   industrial     16.0
3837052      1852052      service     20.0
3932146      1854298      service     13.0
3815218      1854723       retail     17.0
3958406      1844708      service    135.0
3801185      1847282   industrial    111.0
3677289      1846576   industrial    116.0
3709836       111999      service     68.0
3404317      1853798      service     14.0
3842632       124198      service     54.0
3614489      1854591      service     12.0
3566496      1849834      service     62.0
3666878       128193      service      9.0
3712771      1851300      service     10.0
3643494        61099      service    164.0
3776654      1854479      service     14.0
3464425      1854435      service      5.0
3690882      1855287      service     12.0
3807782      1846780      service    108.0
3955229      1845717      service    106.0
3885217        69188      service    149.0
3819292      1853880      service     23.0
3616839       138917      service     17.0
3469361      1850389      service      9.0
3951153       128143      service     76.0
3670062       128149      service     76.0
3484003        75368      service    146.0
3831323       134808      service     75.0
3498335      1854491      service     14.0

[225439 rows x 3 columns]

In [11]:
data = pd.read_csv('data.csv')
print(data['sq_ft'][0])

#greenroof.NoInterventionGreenRoof()
def my_range(start, end, step):
    while start <= end:
        yield start #keyword yield generates an interator
        start += step
        return


for index in range(-1, len(data.index), 1):
    index = index + 1
    building_size = (data['sq_ft'][index])/(data['stories'][index])
    print(building_size)
    #Initialization of assumed and derived variables
    green_cost_per_sqft = 12
    green_roof_min = 0
    conventional_cost_per_sqft = green_cost_per_sqft/2
    green_roof_benefits = 0
    building_age = 40
    annual_benefit_per_area = 1.23
    annual_maintenance_costs_per_area = 0.02 
    min_green_area = green_roof_min * building_size
    min_green_cost = green_roof_min * green_cost_per_sqft
    min_green_benefits= green_roof_min*building_size*annual_benefit_per_area*building_age
    best_size = green_roof_min
    best_benefit = min_green_benefits - min_green_cost
    best_conv = (building_size*(1-green_roof_min)*conventional_cost_per_sqft) #Avoid capital costs
    roofinstalled_dict.update({index : 1}) #this green roof variable can be stored in the final

    roofinstalled_dict = {}
    roof_cost_at_20yrs_dict = {}
    green_roof_benefit_dict = {}
    green_roof_cost_dict = {}
    green_roof_net_benefit_dict = {}     


    #Calculation of Output variables

    #If the building is large enough to allow bulk discounting to begin (happens in most cases)
    if (building_size > 500):
        green_cost_per_sqft = 23.907*(green_cost_per_sqft**(-0.078))

    for current_size in my_range(green_roof_min, 1, 0.01):
        roof_cost_at_20yrs = (building_size*(1-current_size)*conventional_cost_per_sqft) #Avoid capital costs
        green_roof_cost = current_size * building_size * green_cost_per_sqft + (building_age * annual_maintenance_costs_per_area * building_size * current_size)
        green_roof_benefits = building_age * annual_benefit_per_area * building_size * current_size + roof_cost_at_20yrs
        if(green_roof_benefits - green_roof_cost > best_benefit):
            best_size = current_size
            best_green_cost = green_roof_cost
            best_green_benefits = green_roof_benefits
            best__green_net_benefit = green_roof_benefits - green_roof_cost
            best_conv = roof_cost_at_20yrs

    if(best_benefit > 0):
        roofinstalled_dict.update({index : 1}) #this green roof variable can be stored in the final
    else:
        roofinstalled_dict.update({index : 0})


    roof_cost_at_20yrs_dict.update({index : best_conv})
    green_roof_benefit_dict.update({index : best_green_benefits})
    green_roof_cost_dict.update({index : best_green_cost})
    green_roof_net_benefit_dict.update({index : best__green_net_benefit})
    index = index +1

        #Print results

    
    buildings = pd.DataFrame({"green ins" : roofinstalled_dict, "green ben" : green_roof_benefit_dict, "green cost" : green_roof_cost_dict, "green net": green_roof_net_benefit_dict, "conv maintain" :conv_roof_maintenance})
    buildings.to_csv("no_action.csv")

nan
nan

C:\Users\Harrison Freund\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

NameError: name 'best_green_benefits' is not defined

In [ ]:
for index in range(-1, len(data.index)-225000, 1):
    index = index + 1
    roofinstalled_dict = {}
    roofinstalled_dict.update({index : 0})
    roofinstalled = pd.Series(roofinstalled_dict)
    data = pd.DataFrame({"roofinstalled" : roofinstalled_dict})
    data.to_csv("dummy.csv")

In [ ]:
parcels = orca.get_table('parcels')
parcels.to_frame()

In [ ]:
buildings = orca.get_table('buildings')
buildings.to_frame()

In [ ]:
zones = orca.get_table('zones')
zones.to_frame()

In [ ]:
orca.run([
    "rsh_simulate",              # residential sales hedonic
    "nrh_simulate",              # non-residential rent hedonic

    "households_relocation",     # households relocation model
    "hlcm_simulate",            # households location choice
    "households_transition",     # households transition

    "jobs_relocation",           # jobs relocation model
    "elcm_simulate",             # employment location choice
    "jobs_transition",           # jobs transition

    "feasibility",               # compute development feasibility
    "residential_developer",     # build residential buildings
    "non_residential_developer", # build non-residential buildings
], iter_vars=[2010])